.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  flex-direction: column;
  border: 1px lightgray solid;
}

.list {
  border: 1px lightgray solid;
  padding: 10px;
  list-style: none;
  color: green;
  font-size: 2rem;
}

footer {
  background-color: rgba(0, 128, 0, 0.31);
  height: 30px;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
}
